header{
    border: 1px solid blue;
    max-height: 20vh;

}
img{max-width: 100%;
max-height: 400px;
background-repeat: no-repeat;
background-size: contain;
border: 1px solid red;}


.ShakingHands{

        height: 400px;
        background-image: url(../images/shaking-ShakingHands);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: relative;
  
}